/* body {
     /* background: url('fundo-banner-png13.png') */
} */

#columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

#firstSpace , #secondSpace , #thirdSpace {
    display: flex;
    width: 600px;
    height: 600px;
    flex-direction: column-reverse;
    align-items: center;
    /* justify-content: center; */
    
}

#firstColumn , #secondColumn , #thirdColumn {
    position: absolute;
    display: flex;
    /* align-content: center; */
    background-color: black;
    width: 30px;
    height: 400px;
}
#discOne {
    z-index: 100;
    position: relative;
    width: 200px;
    height: 30px;
    background-color: blue;
    border-radius: 10px;
    cursor:pointer;
}

#discTwo {
    z-index: 100;
    position: relative;
    width: 160px;
    height: 30px;
    background-color: yellow;
    border-radius: 10px;
    cursor:pointer;
}

#discThree {
    position: relative;
    z-index: 100;
    width: 120px;
    height: 30px;
    background-color: green;
    border-radius: 10px;
    cursor:pointer;
}

#discFour {
    position: relative;
    z-index: 100;
    width: 80px;
    height: 30px;
    background-color: turquoise;
    border-radius: 10px;
    cursor:pointer;
} 

#header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:blue;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 100;
    width: 300px;
   
}

#base {
    position: absolute;
    top: 608px;
    background-color: black;
    z-index: 100;
    width: 1260px;
    height: 50px;
}
/* 
.columns div {
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
    justify-content: space-around;
    
} */  