.space:hover {
    background-color: rgba(78, 9, 9, 0.445);
}

body {
    background: url('fundo-banner-png13.png');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: white 2px 2px;
}

footer {
    display: flex;
    margin-top: 30px;

}

h3 {
    display: flex;
    margin-left: 40px;
    margin-top: 10px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    display: flex;
    margin-left: 52px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

#columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

#firstSpace , #secondSpace , #thirdSpace {
    display: flex;
    width: 500px;
    height: 500px;
    flex-direction: column-reverse;
    align-items: center;
    cursor: pointer;
    /* border: blue 2px; */
    /* border-style: groove; */
    /* justify-content: center; */
    
}


#firstColumn , #secondColumn , #thirdColumn {
    position: absolute;
    display: flex;
    /* align-content: center; */
    /* background-color: rgb(68, 25, 0); */
    background-image: url(./madeira.jpg);
    width: 30px;
    height: 400px;
}
#discOne {
    z-index: 100;
    position: relative;
    width: 400px;
    height: 40px;
    background-color: blue;
    border-radius: 10px;
    border: solid black;
    /* cursor:pointer; */
}

#discTwo {
    z-index: 100;
    position: relative;
    width: 320px;
    height: 40px;
    background-color: yellow;
    border-radius: 10px;
    border: solid black;
    /* cursor:pointer; */
}

#discThree {
    position: relative;
    z-index: 100;
    width: 240px;
    height: 40px;
    background-color: green;
    border-radius: 10px;
    border: solid black;
    /* cursor:pointer; */
}

#discFour {
    position: relative;
    z-index: 100;
    width: 160px;
    height: 40px;
    background-color: turquoise;
    border-radius: 10px;
    border: solid black;
    /* cursor:pointer; */
} 

/* #header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:blue;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 100;
    width: 300px;
   
} */